<!DOCTYPE html>
<html lang="FR">
    <head>
        <%- include('./partials/head'); %>
    </head>
 
    <body>
        <header>
            <a href="/"><h1>Modifier my Story</h1></a>
        </header>

        <%- include('./partials/menu'); %>
        
        <section class="container">
            <form  action="/modifier" method="post" class="row" >
                <fieldset>
                    <legend>My Story</legend>
                    <input type="hidden" name="id" id="id"  value="<%= todos._id %>" />
                    <input type="text" name="titre" id="titre"  value="<%= todos.title %>"/>
                    <input type="text" name="heros" id="heros"  value="<%= todos.heros %>"/>
                    <input type="text" name="mechant" id="mechant"  value="<%= todos.mechant %>"/>
                    <input type="text" name="lieu" id="lieu"  value="<%= todos.lieu %>"/>
                    <input type="number" name="mots" id="mots" min="20" value="<%= todos.mots %>"/>
                    <input type="number" name="age" id="age" min="1" value="<%= todos.age %>"/>
                </fieldset> 

                <input type="submit" value="Modifier"/>            
            </form>
        </section>
        <footer>
            <%- include('./partials/footer'); %>
        </footer>
    </body>
</html>